{% extends "base.html" %}

{% block title %}
2Shot - My Categories
{% endblock title %}

{% block content %}
<h1>My Categories</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Number of receipts</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.name }}</td>
            <td>{{ category.receipts.count }}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
